@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap&display=swap');

:root {
  --bg: #121212;
  --logo-bg: #759AAB;
  --text: #f2f2f2;
  --highlight-text: #F71800;
  --link: #9DD1F1;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--text);
  font-size: 20px;
}

a {
  color: var(--link);
}

.Navbar>h1 {
  background-color: var(--logo-bg);
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding: 1em 0em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#tervetuloa-fablabiin {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: #F71800;
  transform: translate(-3vw)
}

figure {
  background-color: var(--logo-bg);
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

figure>img {
  width: 10em;
}

figcaption {
  display: none
}

.Navbar {
  border-right: solid #C8E0F4;
  height: 100%;
  position: Fixed;
  left: 0;
  top: 0;
  width: 25vw;
  min-width: 300px;
  max-width: 600px;
  z-index: 99;
  background-color: var(--bg);
}

.Navbar ul {
  padding: 0;
  margin: 0;
}

.Navbar li {
  list-style-type: none;
}

.Navbar a {
  color: white;
  text-decoration: none;
  padding-left: 1em;
  font-weight: bold;
  letter-spacing: 3px;
  height: 5em;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1em;
  background-color: #508AA8;
  transition: 0.1s ease-out;
}

.Navbar a:hover {
  background-color: var(--link);
  color: black;
}

.Content {
  position: absolute;
  left: 35vw;
}

@media only screen and (max-height: 600px) {
  .Navbar a {
    height: 2em;
    font-size: 0.8em;
    margin: 1em 1em 0 1em;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 25px;
  }

  .Navbar {
    border-right: none;
    padding-bottom: 2em;
    border-bottom: solid white;
    height: auto;
    position: initial;
    width: 100vw;
    min-width: 0;
    max-width: 100vw;
  }

  .Navbar a {
    margin: 1em 1em 0 1em;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .Content {
    position: initial;
    margin-left: 3em;
  }
}
